{% extends 'core/base.html' %}

{% block contenido %}
<!-- About-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card rounded-lg shadow mb-4">
                <div class="card-body">
                    <h5 class="card-title">Sobre Nosotros</h5>
                    <p class="card-text">
                        Jacq's Homely Touch es un espacio dedicado a brindar el toque perfecto para tu hogar. Nos especializamos en la venta de muebles, mesas, sillas y una amplia gama de artículos de decoración que transformarán tu espacio en un lugar acogedor y lleno de estilo. Descubre nuestra colección cuidadosamente seleccionada para dar vida a cada rincón de tu hogar con calidad y elegancia.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
