{% load static %}

<style>
    .card {
        width: 18rem;
        margin-top: 20px; /* Márgen superior para la tarjeta */
        margin-bottom: 20px; /* Márgen inferior para la tarjeta */
    }

    .card-img-top {
        height: 300px; /* Altura deseada para todas las imágenes */
        object-fit: cover;
    }
</style>

<div class="container">
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4">
                <div class="card">
                    <!-- Imagen del producto -->
                    <img src="{{ producto.foto.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                    <div class="card-body">
                        <!-- Nombre del producto -->
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <!-- Precio del producto -->
                        <p class="card-text">${{ producto.precio }}</p>
                        <!-- Botón para ver detalles del producto -->
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
