{% load static %}

<style>
    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card-img-top {
        height: 300px;
        object-fit: cover;
    }
</style>

<div class="container">
    <div class="row">
        {% for producto in productos %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img src="{{ producto.foto.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ producto.nombre }}</h5>
                            <!-- Product price-->
                            ${{ producto.precio }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a href="#" class="btn btn-outline-dark mt-auto">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
